@charset "UTF-8";

body{
    background-color: rgba(255, 248, 220, 0.808);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: blue;
}
h2 {
    color: firebrick;
}
p {
    text-align: justify;
}